$color-primary-dark: #2d115a;
$color-primary: #8763b6;
$color-primary-light: #d3b9f1;

$color-secondary-dark: #a0488d;
$color-secondary: #e887fb;
$color-secondary-light: #deb0e7;

$color-tertiary-dark: #1a5f7a;
$color-tertiary: #159895;
$color-tertiary-light: #57c5b6;

$color-white: #f9f4ff;
$color-black: #0c001a;

$color-grey-dark: rgb(87, 87, 87);
$color-grey: grey;
$color-grey-light: rgb(211, 211, 211);
$color-grey-light-2: rgb(231, 231, 231);

$color-online: #35cd3b;
