@use "../../themes/theme.scss" as *;

.comments {
  @include themify($themes) {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .write {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;

      & > input {
        flex: 1;
        border: 1px solid themeColor("text-color-2");
        border-radius: 0.5rem;
        background-color: transparent;
        font-size: 1.6rem;
        padding: 1rem;
        color: themeColor("text-color-1");
        transition: all 0.2s;

        &:focus {
          box-shadow: 0 2px 5px rgba(black, 0.3);
          transform: translateY(-2px);
        }
      }

      & > button {
        background: none;
        color: themeColor("text-color-1");
        transition: all 0.2s;

        &:hover,
        &:focus {
          color: themeColor("btn-follow");
          transform: scale(1.2);
        }

        &:active {
          transform: scale(1.1);
        }
      }
    }

    .comment {
      display: grid;
      grid-template-columns: max-content 1fr 9rem;
      gap: 1rem;

      &__info {
        display: flex;
        flex-direction: column;
        line-height: 1.5;

        span {
          font-weight: 500;
        }

        p {
          color: themeColor("text-color-4");
        }
      }

      .date {
        align-self: center;
        font-size: 1.4rem;
        color: themeColor("text-color-2");
      }
    }
  }
}
